/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    border-top: 5px solid #ff7500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.orange-btn{
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5;
    color: #fff;
    display: block;
    width: 152px;
    background-color: #ff7500;
    padding: 12px 24px;
    border-radius: 6px;
}
.orange-btn:hover{
    opacity: 0.8;
}
.orange-btn:active{
    opacity: 0.6;
}

.line-orange{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}

/* SITE LOGO */
.site-logo {
    width: 227px;
    height: 60px;
}

.site-logo:hover {
    opacity: 0.8;
}
.site-logo:active {
    opacity: 0.6;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* SITE HEADER */
.site-header{
    padding-top: 15px;
    padding-bottom: 15px;
}
.site-header__container{
    display: flex;
    align-items: center;
}
.site-header__logo {
    margin-right: auto;
}
.sitenav-list{
    display: flex;
    align-items: center;
}
.sitenav-item{
    font-weight:550;
    margin-right: 33px;
}
.sitenav-item:hover{
    color: #ff7500;
    cursor: pointer;
}
.sitenav-item:active{
    opacity: 0.6;
}
.sitenav-item:first-child{
    border-bottom: 3.5px solid #ff7500;
    padding-bottom: 5px;
    margin-top: 8px;
}
.sitenav-button {
    width: 155px;
    font-weight: 700;
}
/* //SITE HEADER */

/* SITE MAIN */
.main-content {
    height: 100%;

}
/* SECTION PYTHON */
.section-python{
    background-color: rgba(37, 36, 32, 1);
    color: #fff;
}
.section-python__container {
    position: relative;
    height: 488px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.section-python__information {
    max-width: 339px;
}
.section-python__title {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
    margin-top: 40px;
    margin-bottom: 24px;
    font-family: "Roboto Condensed";
}
.section-python__text {
    font-size: 16px;
    margin-bottom: 69px;
}
.section-python__img {
    position: relative;
    right: 24px;
    top: 40px;
    margin-left: 20px;
    margin-top: 40px;
    box-shadow: 24px 24px  rgba(255, 117, 0, 0.6);
    border-radius: 8px;

}
/* //SECTION PYTHON */


/* SECTION SERVICES */
.section-services {
    margin-top: 210px;
    margin-bottom: 245px;
}
.section-services__title{
    margin-top: 24px;
    margin-bottom: 72px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    line-height: 1.3;
    font-size: 72px;
    font-family: sans-serif;
    font-weight: 700;
}

.section-services__card{
    display: flex;
    align-items: center;
    margin-bottom: 210px;
}
.section-services__card-item{
    max-width: 340px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.section-services__card-img {
    width: 100px;
    height: 100px;
    display: block;
    margin-bottom: 32px;
}
.section-services__card-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
}
.section-services__card-text{
    max-width: 314px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;
}
/* //SECTION SERVICES */


/* SECTION SALE */
.section-cta{
    margin-top: 120px;
    margin-bottom: 160px;
}
.section-cta__container{
    background-color: rgba(37, 36, 32, 1);
    border-radius: 12px;
    position: relative;
    color: #fff;
    padding: 64px;
}
.section-cta__title{
    width: 374px;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
}
.section-cta__textbox{
    margin-bottom: 24px;
    margin-top: 24px;

}
.section-cta__textbox{
    margin-bottom: 36px;
}

.section-cta__text{
    width: 440px;
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    font-size: 16px;
}
.section-cta__button {
    display: block;
}
.orange-text{
    color: #ff7500;
}
.section-cta__img{
    position: absolute;
    right: 64px;
    bottom: 64px;
    border-radius: 12px;
    margin-top: -128px;
    width: 440px;
    height: 440px;
}
/* //SECTION SALE */
/* //SITE MAIN */


/* SITE FOOTER */
.site-footer{
    background-color: rgba(248, 248, 248, 1);
    padding-top: 56px;
    padding-bottom: 56px;
}
.site-footer__logo-wrapper{
    display: flex;
    align-items: center;
    padding-bottom: 40px;

}
.site-footer__icon-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.site-footer__icon-item:not(:last-child) {
    margin-right: 16px;
}
.site-footer__icon {
    width: 24px;
    height: 24px;
    fill:#252420;
}
.site-footer__icon:hover {
    fill: #ff7500;
}
.site-footer__icon:active {
    opacity: 0.6;
}
.site-footer__line{
    width: 100%;
    height: 2px;
    display: block;
    border: 0;
    background-color: #25242080;
}

.site-footer__links{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-footer__link-list {
    margin-right: 100px;
    margin-bottom: 30px;
}
.site-footer__link-item {

}
.site-footer__link-item:hover {
    color: #ff7500;
}
.site-footer__link-item:active {
    opacity: 0.6;
}
.site-footer__link-item:not(:last-child) {
    margin-bottom: 16px;
}
.site-footer__link {
    display: block;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
}
/* //SITE FOOTER */



/* RESPONSIVE MODE */
/* Section python-book */
@media only screen and (max-width: 920px) {
    .section-python__container {
        display: flex;
        align-items: top;
    }

    .section-python__information {
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .section-python__img {
        margin-top: 0;
        width: 360px;
        height: 360px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 770px) {
    .section-python__container {
        display: flex;
        flex-direction: column;
        height: 850px;
        align-items: start;
    }
}

@media only screen and (max-width: 390px) {
    .section-python__container {
        height: 750px;
    }

    .section-python__information {
        margin-bottom: 0;
    }

    .section-python__img {
        width: 280px;
        height: 280px;
    }
}

@media only screen and (max-width: 305px) {
    .section-python__img {
        width: 240px;
        height: 240px;
    }
}
/* //Section python-book */



/* Section Services */
@media only screen and (max-width: 1000px) {
    .section-services__card {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 755px) {
    .section-services__card {
        display: flex;
        flex-direction: column;
        align-content: start;
    }
}

@media only screen and (max-width: 455px) {
    .section-services__title {
        font-size: 55px;
        max-width: 100%;
    }
}
@media only screen and (max-width: 370px) {
    .section-services__title {
        font-size: 45px;
    }
}
/* //Section Services */



/* section cta responsive mode */
@media only screen and (max-width: 1000px) {
    .section-cta__img {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform:translate( -50%);
        width: 400px;
        height: 400px;
    }
    .section-cta__container {
        max-width: 1000px;
        height: 720px;
        padding: 20px;
    }
    .section-cta__title {
        max-width: 100%;
        text-align: center;
        width: 100vh;
        margin-left: auto;
        margin-right: auto;
    }
    .section-cta__textbox {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .section-cta__text {
        max-width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .section-cta__button {
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 650px) {
    .section-cta__container {
        height: 760px;
    }
}

@media only screen and (max-width: 550px) {
    .section-cta__container {
        height: 790px;
    }

    .section-cta__img {
        width: 330px;
        height: 330px;
    }

    .section-cta__title {
        max-width: 300px;
    }

    .section-cta__textbox {
        max-width: 100%;
    }
    .section-cta__text {
        max-width: 300px;
    }
}
@media only screen and (max-width: 355px) {
    .section-cta__container {
        height: 690px;
    }

    .section-cta__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 1.3;
    }
    .section-cta__text {
        max-width: 250px;
        font-size: 14px;
    }

    .section-cta__img {
        width: 250px;
        height: 250px;
    }
}
/* //section cta responsive mode */


/* site footer responsive mode */
@media only screen and (max-width: 830px) {
    .site-footer__link-list {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 200px;
    }
}

@media only screen and (max-width: 400px){
    .site-footer__logo-wrapper{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .site-footer__icon-list {
        margin-left: 0;
        margin-top: 15px;
    }
}
/* //site footer responsive mode */